.head {
	background-color: grey;
}

.qcm {
	color: antiquewhite;
	font-weight: bold;
}

.right {
	text-align:right;
}

.white {
	color: white;
	font-style: italic;
}

.btn_menuAdmin {
	width:150px;
}

.btn_menuAdmin a {
	color: brown;
	font-weight: bold;
	font-size: 14px;
}

.btn_menuAdmin a:hover {
	text-decoration: none;
}

.btn_menuEnsei {
	width:210px;
}

.btn_menuEnsei a {
	color: brown;
	font-weight: bold;
	font-size: 14px;
}

.btn_menuEnsei a:hover {
	text-decoration: none;
}

.btn_menuEtud {
	width:220px;
}

.btn_menuEtud a {
	color: brown;
	font-weight: bold;
	font-size: 14px;
}

.btn_menuEtud a:hover {
	text-decoration: none;
}

.menu_gauche h4 {
	text-align:center;
	font-weight:bold;
}

.margleft {
	margin-left: 50px;
}

.brownBold {
	color: brown;
	font-weight:bold;
}

.add a {
	color: white;
}

.add a:hover {
	text-decoration:none;
}

.margbott2 {
	margin-bottom: 40px !important;
}


/* BEFORE */
.margbott {
	margin-bottom: 20px !important;
}

.margtop {
	margin-top: 20px !important;
}

input, select, textarea {
	border-radius: 5px !important;
}

.btn-deco {
	position: absolute;
	top: 10px;
	right: 10px;
}

.input-append, .input-prepend {
margin-bottom: 5px;
font-size: 0;
white-space: nowrap;
}

.cadre {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 20px;
}

.nomargtop {
	margin-top: 0 !important;
}

.bordertop {
	border-top: 1px solid grey;
	padding-top: 20px;
}

.halfwidth {
	width: 48%;
	margin-left: 10px;
}

.alignR {
	position: absolute;
	right: 20px;
}

.vert {
	color: green;
	font-weight: bold;
}

.noBold {
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

.rouge {
	color: red;
}

.fixedR {
	position: fixed;
	right: 10px;
}

.total {
	font-weight: bold;
	color: blue;
	font-size: 16px;
	text-align: center;
}